<section>
    <section class="not-found-error-code">
        <h1 class="first-4-of-404">4</h1>
        <a class="back-to-home-btn" role='button' routerLinkActive="active-link" routerLink="" [routerLinkActiveOptions]="{exact:true}">
            <img src="../../../assets/pokeball.png" alt="0 of 404" title="Go back home">
        </a>
        <h1 class="second-4-of-404">4</h1>
    </section>
    <main>
        <h2 class="page-not-found_info">Page not found</h2>
        <img class="page-not-found_mascot" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alt="Page not found mascot (Ditto!)" title="Ditto">
        <p class="back-to-home-btn_specification">Click the pokeball if you wish to go back home</p>
    </main>
</section>
