.not-found-error-code {
    display: grid;
    grid-template-columns: auto auto auto;
}

.first-4-of-404, .second-4-of-404 {
    align-self: center;
    font-size: 260px;
    margin: 0;
}

.first-4-of-404 {
    justify-self: end;
}

.second-4-of-404 {
    justify-self: start;
}

.not-found-error-code img {
    align-self: center;
    height: 260px;
    justify-self: center;
}