.pokemon-list {
    background-color: blue;
    display: flex; 
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224); 
    justify-content: space-around;
}

.pokemon-list-item {
   padding: 1rem; 
}