.pokemon-list-container {
    background-color: rgb(224, 224, 224); 
}

.pokemon-list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-list-item {
   padding: 1rem; 
}

.pokemon-list-button {
    padding: 0 1rem;
    text-align: center;
    margin: 0 auto;
 }