main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#center-box {
    background-color: gray;
    padding: 3vh 3vw;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsl(0, 0%, 20%);
}

#pokeball-logo {
    width: 30vmin;
    height: 30vmin;
}