<section class="trainer-info-section">
    <h1>{{ user?.username }}</h1>
</section>
<main>
    <section class="trainer-pokemon-section">
        <h1>Your collection</h1>
    </section>
    <app-pokemon-list
    class="catalogue-pokemon-list"
    [pokemon]="cataloguePokemon"
    [distance]="1"
    [throttle]="100"
    (onScroll)="loadMore()"
    ></app-pokemon-list>
    <a *ngIf="pokemons?.length === 0" role='button' routerLink="/catalogue">You have no Pokémons. Go to the catalogue to catch 'em all!</a>
</main>