<div class="pokemon-container">
  <div class="pokemon-top-bar">#{{ (pokemonDetails$ | async)?.id }}
  </div>
  <div class="pokemon-sprite-container">
    <img
      class="pokemon-sprite"
      [src]="(pokemonDetails$ | async)?.sprites?.front_default"
    />
  </div>
  <div class="pokemon-bottom-bar">
    <img class="pokemon-info-icon" src="assets/info.png" />
    <div class="pokemon-name">{{ pokemon.name | titlecase }}</div>
    <img
      [style.visibility]="hasObtained ? 'hidden' : 'visible'"
      class="pokemon-pokeball-icon"
      src="assets/pokeball.png"
      (click)="handleCatchClicked(pokemon.name)"
    />
  </div>
</div>
