.pokemon-container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  max-width: 136px;
  width: 35vw;
  padding: 8px;
  border-radius: 8px;
  border: rgb(0 0 0 / 0.15) solid 1px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.pokemon-sprite-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

.pokemon-sprite {
  height: 96px;
  width: 96px;
  cursor: pointer;
}

.pokemon-top-bar {
  font-family: monospace;
  display: flex;
  height: 20px;
}

.pokemon-bottom-bar {
  display: flex;
  height: 20px;
}

.pokemon-name {
  font-family: monospace;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  z-index: 2;
}

.pokemon-info-icon,
.pokemon-pokeball-icon {
  z-index: 2;
  max-height: 16px;
  aspect-ratio: 1;
  cursor: pointer;
}
