<h1>Catalogue</h1>
<div
  class="catalogue-pokemon-list-container"
>
  <app-pokemon-list
    class="catalogue-pokemon-list"
    [pokemon]="cataloguePokemon"
    [distance]="1"
    [throttle]="100"
    (onScroll)="loadMore()"
    [showInfo]="true"
    (onItemInfoClicked)="toggleModalVisibility($event)"
  ></app-pokemon-list>

  <app-pokemon-details-modal *ngIf="showModal && selectedPokemon != null" [pokemon]="selectedPokemon" (onCloseClicked)="toggleModalVisibility()"></app-pokemon-details-modal>
  
</div>
